#jobProgressPieChart {
  width: 350px !important;
  height: 350px !important;
}
#pie{
  width: 350px;
}
.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.hover-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(100, 23, 57, 0.5);
  border-color: #e83e8c !important;
}

.card-header-custom {
  background-color: #641739;
  color: white;
  text-align: center;
  transition: background-color 0.3s ease;
}

.hover-effect:hover .card-header-custom {
  background-color: #7e1f49 !important;
}

