
h2{
  font-family: var(--headings);
}
input{
  font-family: var(--body);
}

.search-input {
  border-radius: 50rem;
  border-width: 3px;
  border-color: rgba(33, 37, 41, 0.25);
  padding-left: 1.5rem;
  padding-right: 3rem;
}
.search-input:focus {
  border-color: var(--secondaryColor) !important;
  box-shadow: 0 0 0 0.25rem #EAF0F0;
  outline: none;
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #212529;
}
