<div class="card px-3 py-4 mb-3">
  <div class="d-flex justify-content-between">
    <h5 class="fw-bold heading">Interior House Painting</h5>
    <span class="fw-semibold heading">$800-$1500</span>
  </div>
  <div class="d-flex  justify-content-between">
    <div class="text-muted small d-flex flex-wrap gap-3 mt-1">
      <span><i class="fas fa-paint-roller me-1"></i> Painting</span>
      <span><i class="fas fa-map-marker-alt me-1"></i> Chicago, IL</span>
      <span><i class="fas fa-clock me-1"></i> Due in 21 days</span>
    </div>
    <div class="text-end mt-2">
      <a href="#" class="text-decoration-none bidnum">3 bids received</a>
    </div>
  </div>
  
</div>
