.card{
  background-color:white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
span,a{
  font-family: var(--body);
}
.heading{
  font-family: var(--headings);
  font-size: 20px;
}
.bidnum{
  animation: changecol 3s infinite;
}
@keyframes changecol{
  0%{
    color:#475451;
  }
  50%{
    color: rgb(102, 185, 20);
  }
  100%{
    color: green;
  }
}