.user-img{
  max-width: 250px;
  max-height: 250px;
  min-width: 125px;
  min-height: 125px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.user-img img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  border: #000000 1px solid;

}
.container{
  border: navy 2px solid;/*#B8A59B*/
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.199);
}
h2{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.sec{
  display: flex;
  align-items: center;
  gap:15px;
}
.sec h5{
  width: 120px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.value{
  font-family: "manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #555357;
}
.valuelink{
  text-decoration: none;
  color: #7b00ff;
  font-family: "manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.vl {
  border-left: 2px solid #8e8d9072; 
}
.b{
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: rgb(7, 15, 101);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
  color: #ffffff;
  font-family: "manrope", sans-serif;
}
.b:hover{
  letter-spacing: 3px;
  background-color: #6293c8;/*#6293c8*/
  color:white;
  box-shadow:  #6293c8 0px 7px 29px 0px;/*#6293c8*/
}
.b:active {
  letter-spacing: 3px;
  background-color: #6293c8;/*#6293c8*/
  color: white;
  box-shadow: #6293c8  0px 0px 0px 0px;/*#7b00ff*/
  transform: translateY(10px);
  transition: 100ms;
}
.report{
  background-color: #ff414174;
}
.report:hover{
  background-color: #eb0000c5;
  color: white;
  box-shadow:  #eb0000c5 0px 7px 29px 0px;
}
.report:active {
  background-color: #ff414174;
  color: white;
  box-shadow: #ff414174 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
label{font-family: "Manrope", sans-serif;
  font-weight: 500;
}
.edit{
  background-color: #000000;
}
.edit:hover{
  background-color: #7b00ff;/*#6293c8*/
  box-shadow:  #cba3f0 0px 7px 29px 0px;/*#6293c8*/
}
.edit:active {
  background-color: #7b00ff;/*#6293c8*/
  box-shadow: #7b00ff  0px 0px 0px 0px;/*#7b00ff*/
  transform: translateY(10px);
  transition: 100ms;
}
.save{
  background-color: #7b00ff;
  color: white;
}
.save:hover{
  background-color: #7b00ff;/*#6293c8*/
  box-shadow:  #7b00ff 0px 7px 29px 0px;/*#6293c8*/
}
.save:active {
  background-color: #7b00ff;/*#6293c8*/
  box-shadow: #7b00ff  0px 0px 0px 0px;/*#7b00ff*/
  transform: translateY(10px);
  transition: 100ms;
}
.cancel{
  
  background-color: #000000;
  color: white;
}
.cancel:hover{
  background-color: white;
  color: #000000;
  box-shadow: #00000071 0px 7px 29px 0px;
}
input{
  border: 2px solid rgb(200, 200, 200);
  color: #444344;
}
input:focus{
  border:#8c2fee79 2px solid;
  box-shadow: #7b00ff5c 0px 7px 29px 0px;
}
/******************report modal***************/
.modal-title{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}
.modal-body{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.modal-footer{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 17px;
}
