<app-navbar-admin></app-navbar-admin>

<div class="container w-50 my-5 p-5 rounded-2">
  <form class="row g-3" [formGroup]="addJobForm" (ngSubmit)="onUpdate()">
    <h3>Edit Job</h3>

    <!-- Title -->
    <div class="col-12 mb-2">
      <label for="inputJobTitle" class="form-label mb-3">Job Title</label>
      <input type="text" formControlName="title" class="form-control" id="inputJobTitle">
      <div class="text-danger warning">
        @if(addJobForm.controls['title'].errors?.['required'] && addJobForm.controls['title'].touched){
          <span>This field is Required</span>
        }
      </div>
    </div>

    <!-- Category -->
    <div class="col-12 mb-2">
      <label for="inputCategory" class="form-label mb-3">Category</label>
      <select id="inputCategory" class="form-select" formControlName="category">
        <option disabled selected>Open this select menu</option>
        <option value="Carpenter">Carpenter</option>
        <option value="Plumber">Plumber</option>
        <option value="Electrician">Electrician</option>
        <option value="Painter">Painter</option>
        <option value="Mason">Mason</option>
        <option value="Roofing">Roofing Specialist</option>
        <option value="Mechanic">Mechanic</option>
        <option value="Welder">Welder</option>
        <option value="Tiler">Tiler</option>
        <option value="ACTechnician">AC Technician</option>
        <option value="SecurityCameraInstaller">Security Camera Installer</option>
      </select>
      <div class="text-danger warning">
        @if(addJobForm.controls['category'].errors?.['required'] && addJobForm.controls['category'].touched){
          <span>This field is Required</span>
        }
      </div>
    </div>

    <!-- Budget -->
    <div class="col-md-6 mb-2">
      <label for="inputMinBudget" class="form-label mb-3">Minimum Budget ($)</label>
      <input type="number" formControlName="minimum_budget" class="form-control" id="inputMinBudget">
      <div class="text-danger warning">
        @if(addJobForm.controls['minimum_budget'].errors?.['required'] && addJobForm.controls['minimum_budget'].touched){
          <span>This field is Required</span>
        }
      </div>
    </div>

    <div class="col-md-6 mb-2">
      <label for="inputMaxBudget" class="form-label mb-3">Maximum Budget ($)</label>
      <input type="number" formControlName="maximum_budget" class="form-control" id="inputMaxBudget">
      <div class="text-danger warning">
        @if(addJobForm.controls['maximum_budget'].errors?.['required'] && addJobForm.controls['maximum_budget'].touched){
          <span>This field is Required</span>
        }
      </div>
    </div>

    <!-- Location -->
    <div class="col-12 mb-2">
      <label for="inputLocation" class="form-label mb-3">Location</label>
      <select id="inputLocation" class="form-select" formControlName="location">
        <option disabled selected>Open this select menu</option>
        <option value="Nablus">Nablus</option>
        <option value="Tulkarm">Tulkarm</option>
        <option value="Jerusalem">Jerusalem</option>
        <option value="Jenin">Jenin</option>
        <option value="Qalqilya">Qalqilya</option>
        <option value="Tubas">Tubas</option>
        <option value="Jéricho">Jéricho</option>
        <option value="Hebron">Hebron</option>
        <option value="Bethlehem">Bethlehem</option>
        <option value="Ramallah">Ramallah</option>
        <option value="Gaza">Gaza</option>
      </select>
      <div class="text-danger warning">
        @if(addJobForm.controls['location'].errors?.['required'] && addJobForm.controls['location'].touched){
          <span>This field is Required</span>
        }
      </div>
    </div>

    <!-- Deadline -->
    <div class="col-12 mb-2">
      <label for="inputDeadline" class="form-label mb-3">Deadline</label>
      <input type="date" formControlName="deadline" class="form-control" id="inputDeadline">
      <div class="text-danger warning">
        @if(addJobForm.controls['deadline'].errors?.['required'] && addJobForm.controls['deadline'].touched){
          <span>This field is Required</span>
        }
      </div>
    </div>

    <!-- Description -->
    <div class="col-12 mb-2">
      <label for="inputJobDescription" class="form-label mb-3">Job Description</label>
      <textarea class="form-control" formControlName="description" id="inputJobDescription" rows="3"></textarea>
      <div class="text-danger warning">
        @if(addJobForm.controls['description'].errors?.['required'] && addJobForm.controls['description'].touched){
          <span>This field is Required</span>
        }@else if(addJobForm.controls['description'].errors?.['minlength'] && addJobForm.controls['description'].touched){
          <span>Minimum 50 characters required</span>
        }
      </div>
    </div>

    <!-- Update / Cancel Buttons -->
    <div class="row">
      <div class="col-md-6 mb-2">
        <button type="submit" class="btn btn-primary w-100">Update Job</button>
      </div>
      <div class="col-md-6 mb-2">
        <button type="button" class="btn btn-secondary w-100" (click)="cancelEdit()">Cancel</button>
      </div>
    </div>
  </form>
</div>

<app-footer-admin></app-footer-admin>
