<div *ngIf="showProfileModal" class="modal-overlay">
  <div class="modal-content">
    <button class="close-btn" (click)="closeProfileModal()">×</button>

    <img src="/assets/person1.jpg" class="modal-img" (click)="openEditProfileModal()" />

    <h3>Technician Name</h3>
    <p><strong>Specialty:</strong> Electrician</p>
    <p class="clickable-rating" routerLink="/rating/rating">
      <strong>Rating:</strong> ⭐⭐⭐⭐☆ (4/5)
    </p>
    <p>Some quick description or contact info here.</p>
       <a href="/assets/cv/technician-cv.pdf" target="_blank" class="cv-link" download>
      📄 Download CV
    </a>

    <button class="view-jobs-btn" routerLink="/technician/completed-jobs">
  View All Completed Jobs
</button>

  </div>
</div>
