<app-navbar-admin></app-navbar-admin>
<div class="container mt-4" style="max-width: 60%;">
  <div class="contain p-4 rounded shadow">
    <h3 class="fw-bold mb-3">Notifications</h3>
    <div class="d-flex justify-content-between align-items-center mb-3">

    <ul class="nav nav-tabs mb-3">
      <li class="nav-item">
        <a class="nav-link"
        [class.active]="filter === 'all'"
        href="#"
        (click)="setFilter($event, 'all')">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [class.active]="filter === 'unread'"
        href="#"
        (click)="setFilter($event, 'unread')">Unread</a>
      </li>
    </ul>
    <button class="btn btn-sm mark-read-btn rounded-pill px-3"
        (click)="markAllAsRead()">
  <i class="bi bi-check2-circle me-1"></i> Mark all as read
</button>
    </div>
    <span class="earlier">Earlier</span>
    <br>
    <br>
    <div *ngFor="let notification of filteredNotifications(); let last = last; let i = index">
      <div class="notification-item d-flex align-items-center mb-3">
        <div class="me-3">
          <img [src]="notification.image" class="rounded-circle" width="45" height="45" alt="User"  (click)="onProfileImageClick()" />

          <app-profile></app-profile>
        </div>
        <div class="flex-grow-1">
          <p class="mb-1">
            <span [ngClass]="{'fw-bold': notification.unread}">
              {{ notification.name }}
            </span>
            <span [innerHTML]="notification.message"></span>
          </p>
          <small>{{ notification.time }}</small>
        </div>
        <div class="ms-2 d-flex align-items-center">
          <span *ngIf="notification.unread" class="rounded-circle ms-2" style="width: 10px; height: 10px; background-color: #642eda; display: inline-block;"></span>

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"  class="bi bi-trash3-fill ms-2" viewBox="0 0 16 16" (click)="confirmDelete(i)"
          >
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
          </svg>
        </div>
      </div>

      <hr *ngIf="!last" class="notification-divider my-2" />
    </div>
  </div>
</div>
<br>
<br>
<app-footer-admin></app-footer-admin>
