

.custom-search-wrapper:focus-within {
  box-shadow:
    0 0 12px #9e43ff; /* Your custom purple glow only */
}
.neon-button-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.neon-button {
  background: linear-gradient(135deg, #7b00ff, #17031b);
  color: white;
  font-size: medium;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease;
  z-index: 1;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.neon-button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 12px #9e43ff;
}

.neon-button:focus {
  outline: none;
  box-shadow: 0 0 12px #9e43ff;
}

.neon-button::before {
  content: '';
  position: absolute;
  inset: -3px;
  border-radius: 12px;
  background: linear-gradient(135deg, rgba(158, 67, 255, 0.3), transparent);
  opacity: 0;
  filter: blur(8px);
  transition: opacity 0.4s ease;
  z-index: -1;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}