.full-height {
  height: 100%;
}

.auth-frame {
  background-color: #ffffff;
  padding: 40px 35px;
  border-radius: 18px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--secondaryColor);
}

.dark-right-panel {
  background-color: white;
  color: black;
}
.text-color-p {
  color: var(--primaryColor);
}
.text-color-w {
  color: #2e2d2dd4;
}

button {
  font-family: var(--headings);
  width: 15%;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondaryColor);
  color: white;
}

button:disabled {
  background-color: var(--secondaryColor);
}

.gradient-bg {
  background: linear-gradient(135deg, var(--primaryColor), #000000);
}

.input {
  font-family: var(--body);
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #faf8f8;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 500ms ease-in-out;
}

.input:focus {
  background-color: white;
  box-shadow: 4px 4px 25px #9696965a, -4px -4px 25px #ffffff16;
}
h1, h2 {
  font-family: var(--headings);
}
.text-danger,p,span,a{
  font-family: var(--body);
}

label {
  font-family: var(--headings);
  font-size: large;
}