.full-height {
  height: 100%;
}
.dark-right-panel {
  background-color: #101010;
  color: #ffffff;
}
.text-color-p {
  color: #8248ff;
}
.text-color-w {
  color: #f4f4f4d4;
}

button {
  width: 15%;
  background-color: #6e33dc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7f3ff2;
}

button:disabled {
  background-color: #ab7eff83;
}

.gradient-bg {
  background: linear-gradient(135deg, #3b0da0, #000000);
}

/* From Uiverse.io by Praashoo7 */
.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 4px 4px 25px #9696965a, -4px -4px 25px #ffffff16;
}
