<div class="container-fluid vh-100">
  <div class="row h-100">
    <div
      class="d-flex flex-column justify-content-center align-items-center px-5 py-4 full-height dark-right-panel"
    >
    <div class="auth-frame">
      <div class="w-100" style="max-width: 420px">
        <!-- Title -->
        <h2 class="fw-bold mb-1">Forgot your password?</h2>
        <p class="mb-4 text-color-w">
          No worries. Enter your email and we’ll send you a reset link.
        </p>

        <!-- Form -->
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <!-- Email Input -->
          <div class="mb-3">
            <label for="email" class="form-label mt-2">Email address</label>

            <!-- From Uiverse.io by Praashoo7 -->
            <input
              type="email"
              id="email"
              formControlName="email"
              autocomplete="off"
              name="email"
              class="input form-control"
              placeholder="you@example.com"
            />
            <div
              class="text-danger mt-1"
              *ngIf="email?.invalid && email?.touched"
            >
              Please enter a valid email.
            </div>
          </div>

          <!-- Submit Button -->
          <button
            type="submit"
            class="btn w-100 mb-4"
            [disabled]="forgotPasswordForm.invalid"
          >
            Send Reset Link
          </button>

          <!-- Success/Error Messages -->
          <div *ngIf="successMessage" class="alert alert-success text-center">
            {{ successMessage }}
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger text-center">
            {{ errorMessage }}
          </div>
        </form>

        <!-- Back to login -->
        <div class="text-center mt-3">
          <span class="text-color-w">Remembered your password?</span>
          <a
            routerLink="/login"
            class="ms-1 text-decoration-none fw-semibold text-color-p"
            >Login</a
          >
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
