.video-container {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-content {
  position: absolute;
  top: 40%;
  left: 27%;
  transform: translate(-50%, -50%);
  z-index: 1;

}
.mb-3{
  font-size: 4rem;
  text-align: left;
}
.btn{
  color:white;
  font-size:2rem;
  text-align: left;
  margin-right: 21rem;
}

.dropdown-item:hover {
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown-menu {
  width: 45%;
}

.search-container {
  position: relative;

}

.search-container .bi-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-container input {
  padding-right: 480px;

}
