.dropdown-menu {
  z-index: 1050;
  background-color: white;
  top: -60%;
  outline: none;

}

.notification-item {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.notification-item:hover {
  background-color: rgba(11, 75, 43, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.mark-read-btn {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background-color: white;
  transition: all 0.3s ease;
  font-weight: 500;
}

.mark-read-btn:hover {
  background-color: var(--primaryColor);
  color: white;
}

.nav-tabs .nav-link {
  color: var(--primaryColor);
  cursor: pointer;
font-size: 15px;
}
.nav-tabs .nav-link.active {
  color: white;
  background-color: var(--primaryColor);
  border: none;
}
.dropdown-wrapper {
  position: absolute;

  right: 0;
  z-index: 1050;

  padding: 10px;
  margin-right: 25rem;
}

.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
