.dropdown-menu {
  z-index: 1050;
  background-color: white;
  top: -60%;
  outline: none;
}

.notification-item {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.notification-item:hover {
  background-color: rgba(100, 23, 57, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.nav-tabs .nav-link {
  color: #641739;
  cursor: pointer;
}
.nav-tabs .nav-link.active {
  color: white;
  background-color: #641739;
  border: none;
}
.dropdown-wrapper {
  position: absolute;

  right: 0;
  z-index: 1050;

  padding: 10px;
  margin-right: 25rem;
}

.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
