.container{
  border: 2px solid rgb(200, 200, 200);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  background-color: white;
}
h3{
  font-family: var(--headings);
  font-weight: bold;
}
button{
  font-family: var(--body);

}
label ,#Attachments p{
  font-family: var(--body);
  font-weight: 500;
}
input, select, textarea{
  font-family: var(--body);
  font-size: 14px;
  font-weight: light;
  border: 2px solid rgb(200, 200, 200);
  color: #444344;
}
/*option:hover{
  background-color: #7b00ff !important;
}*/
input::placeholder, textarea::placeholder,.Attachmentcontent{
  color: #444344;
}
button{
  color: #000;
  background-color: #fff;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
button:hover{
  box-shadow:#bfdbce5c 0px 7px 29px 0px;
  color: #fff;
  background-color: var(--primaryColor);
  transform: translateY(-7px);
}
button:active{
  transform: translateY(-1px);
  background-color: var(--primaryColor) !important;
}
button:disabled{
  background-color: #BBABA3 !important;
}
input:focus,select:focus,textarea:focus{
  border-color: var(--secondaryColor) !important;
  box-shadow: 0 0 0 0.25rem #EAF0F0;
  outline: none;
}
option:hover{
  background-color: #475451 !important;
}
/*#AttachmentsLabel{
  border: 2px dashed rgb(200, 200, 200);
  padding: 20px; 
  text-align: center; 
  display: block; 
  cursor: pointer;
  color: #444344;
}
#AttachmentsLabel input{
  display: none;
}
#AttachmentsLabel .icon{
  font-size: 45px;
  color: #444344;
  margin: 15px 0 30px 0;
}
.Attachmentcontent p{
  font-size: 14px;
  margin: 0;
  
}
.Attachmentcontent span{
  font-size: 13px;
}*/
.warning span{
  font-size: 13px;
  padding: 5px 0;
  font-family: var(--body);
}