<app-navbar-admin></app-navbar-admin>
<div style="background-color: #ffffff; min-height: 100vh;">

 <div class="container" style="padding-top: 3rem;">
  <div class="row align-items-center">
    <div class="col d-flex justify-content-center align-items-center gap-2">
      <div class="position-relative w-50">
      <input
        type="text"
        class="form-control search-input"
        placeholder="Search by job title"
        [(ngModel)]="searchInput"
        (ngModelChange)="applySearch()"
      />
      <i class="bi bi-search search-icon"></i>
    </div>
    </div>
  </div>
</div>  

  <div class="container-fluid mt-0">

    <div class="row">

      <aside class="col-md-2 p-4 rounded shadow-sm mb-2" style="background-color: #f8f9fa; margin-top: 3.55rem;">
      <!-- <p class="fs-1 d-flex justify-content-center pb-5" style="color: linear-gradient(135deg, #7b00ff, #17031b);">Filter</p> -->

      <h4 class="mb-4 fw-bold border-bottom pb-2 fs-4" style="color: #0F766E;">Category</h4>

        <!-- --------------------------------------------              ---------------------             -------------         -->
        <div class="mb-3 d-flex align-items-center gap-2">
          <label class="neon-checkbox">
            <input type="checkbox" name="agree" id="Electrician" value="electrician"   [checked]="selectedCategory.includes('electrician')"
            (change)="onCategoryChange($event)" />      
            <div class="neon-checkbox__frame">
              <div class="neon-checkbox__box">
                <div class="neon-checkbox__check-container">
                  <svg viewBox="0 0 24 24" class="neon-checkbox__check">
                    <path d="M3,12.5l7,7L21,5"></path>
                  </svg>
                </div>
                <div class="neon-checkbox__glow"></div>
                <div class="neon-checkbox__borders">
                  <span></span><span></span><span></span><span></span>
                </div>
              </div>
              <div class="neon-checkbox__effects">
                <div class="neon-checkbox__particles">
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                </div>
                <div class="neon-checkbox__rings">
                  <div class="ring"></div>
                  <div class="ring"></div>
                  <div class="ring"></div>
                </div>
                <div class="neon-checkbox__sparks">
                  <span></span><span></span><span></span><span></span>
                </div>
              </div>
            </div>
          </label>
          <label class="form-check-label" for="Electrician-Category" for="Electrician">Electrician</label>
        </div>


        <div class="mb-3 d-flex align-items-center gap-2">
          <label class="neon-checkbox">
            <input type="checkbox" name="agree" id="Plumber" value="plumber"   [checked]="selectedCategory.includes('plumber')"
            (change)="onCategoryChange($event)"/>      
            <div class="neon-checkbox__frame">
              <div class="neon-checkbox__box">
                <div class="neon-checkbox__check-container">
                  <svg viewBox="0 0 24 24" class="neon-checkbox__check">
                    <path d="M3,12.5l7,7L21,5"></path>
                  </svg>
                </div>
                <div class="neon-checkbox__glow"></div>
                <div class="neon-checkbox__borders">
                  <span></span><span></span><span></span><span></span>
                </div>
              </div>
              <div class="neon-checkbox__effects">
                <div class="neon-checkbox__particles">
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                </div>
                <div class="neon-checkbox__rings">
                  <div class="ring"></div>
                  <div class="ring"></div>
                  <div class="ring"></div>
                </div>
                <div class="neon-checkbox__sparks">
                  <span></span><span></span><span></span><span></span>
                </div>
              </div>
            </div>
          </label>
          <label class="form-check-label" for="Electrician-Category" for="Plumber">Plumber</label>
        </div>



        <div class="mb-3 d-flex align-items-center gap-2">
          <label class="neon-checkbox">
            <input type="checkbox" name="agree" id="Painter" value="painter"   [checked]="selectedCategory.includes('Painter')"
            (change)="onCategoryChange($event)"/>      
            <div class="neon-checkbox__frame">
              <div class="neon-checkbox__box">
                <div class="neon-checkbox__check-container">
                  <svg viewBox="0 0 24 24" class="neon-checkbox__check">
                    <path d="M3,12.5l7,7L21,5"></path>
                  </svg>
                </div>
                <div class="neon-checkbox__glow"></div>
                <div class="neon-checkbox__borders">
                  <span></span><span></span><span></span><span></span>
                </div>
              </div>
              <div class="neon-checkbox__effects">
                <div class="neon-checkbox__particles">
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                </div>
                <div class="neon-checkbox__rings">
                  <div class="ring"></div>
                  <div class="ring"></div>
                  <div class="ring"></div>
                </div>
                <div class="neon-checkbox__sparks">
                  <span></span><span></span><span></span><span></span>
                </div>
              </div>
            </div>
          </label>
          <label class="form-check-label" for="Electrician-Category" for="Painter">Painter</label>
        </div>



        <div class="mb-3 d-flex align-items-center gap-2">
          <label class="neon-checkbox">
            <input type="checkbox" name="agree" id="Carpenter" value="carpenter"   [checked]="selectedCategory.includes('Carpenter')"
            (change)="onCategoryChange($event)" />      
            <div class="neon-checkbox__frame">
              <div class="neon-checkbox__box">
                <div class="neon-checkbox__check-container">
                  <svg viewBox="0 0 24 24" class="neon-checkbox__check">
                    <path d="M3,12.5l7,7L21,5"></path>
                  </svg>
                </div>
                <div class="neon-checkbox__glow"></div>
                <div class="neon-checkbox__borders">
                  <span></span><span></span><span></span><span></span>
                </div>
              </div>
              <div class="neon-checkbox__effects">
                <div class="neon-checkbox__particles">
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                </div>
                <div class="neon-checkbox__rings">
                  <div class="ring"></div>
                  <div class="ring"></div>
                  <div class="ring"></div>
                </div>
                <div class="neon-checkbox__sparks">
                  <span></span><span></span><span></span><span></span>
                </div>
              </div>
            </div>
          </label>
          <label class="form-check-label" for="Electrician-Category" for="Carpenter">Carpenter</label>
        </div>



        <div class="mb-3 d-flex align-items-center gap-2">
          <label class="neon-checkbox">
            <input type="checkbox" name="agree" id="Mechanic" value="mechanic"   [checked]="selectedCategory.includes('Mechanic')"
            (change)="onCategoryChange($event)"/>      
            <div class="neon-checkbox__frame">
              <div class="neon-checkbox__box">
                <div class="neon-checkbox__check-container">
                  <svg viewBox="0 0 24 24" class="neon-checkbox__check">
                    <path d="M3,12.5l7,7L21,5"></path>
                  </svg>
                </div>
                <div class="neon-checkbox__glow"></div>
                <div class="neon-checkbox__borders">
                  <span></span><span></span><span></span><span></span>
                </div>
              </div>
              <div class="neon-checkbox__effects">
                <div class="neon-checkbox__particles">
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                </div>
                <div class="neon-checkbox__rings">
                  <div class="ring"></div>
                  <div class="ring"></div>
                  <div class="ring"></div>
                </div>
                <div class="neon-checkbox__sparks">
                  <span></span><span></span><span></span><span></span>
                </div>
              </div>
            </div>
          </label>
          <label class="form-check-label" for="Electrician-Category" for="Mechanic">Mechanic</label>
        </div>

        <div class="mb-3 d-flex align-items-center gap-2">
          <label class="neon-checkbox">
            <input type="checkbox" name="agree" id="Other"  value="other"  [checked]="selectedCategory.includes('Other')" 
            (change)="onCategoryChange($event)"/>      
            <div class="neon-checkbox__frame">
              <div class="neon-checkbox__box">
                <div class="neon-checkbox__check-container">
                  <svg viewBox="0 0 24 24" class="neon-checkbox__check">
                    <path d="M3,12.5l7,7L21,5"></path>
                  </svg>
                </div>
                <div class="neon-checkbox__glow"></div>
                <div class="neon-checkbox__borders">
                  <span></span><span></span><span></span><span></span>
                </div>
              </div>
              <div class="neon-checkbox__effects">
                <div class="neon-checkbox__particles">
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                  <span></span><span></span><span></span><span></span>
                </div>
                <div class="neon-checkbox__rings">
                  <div class="ring"></div>
                  <div class="ring"></div>
                  <div class="ring"></div>
                </div>
                <div class="neon-checkbox__sparks">
                  <span></span><span></span><span></span><span></span>
                </div>
              </div>
            </div>
          </label>
          <label class="form-check-label" for="Other">Other</label>
        </div>

       
         <h4 class="mb-4 fw-bold border-bottom pb-2 mt-5 fs-4" style="color: #0F766E">Budget</h4>
         <div class="position-relative mb-3">
          <input
            type="text"
            [(ngModel)]="minInput"
            placeholder="Min Budget"
            class="form-control search-input"
          />
          <i class="bi bi-currency-dollar position-absolute top-50 pe-3 end-0 translate-middle-y ms-3"></i>
        </div>

        <div class="position-relative mb-3">
          <input
          type="text"
          [(ngModel)]="maxInput"
          placeholder="Max Budget"
          class="form-control search-input"
        />
        <i class="bi bi-currency-dollar position-absolute top-50 pe-3 end-0 translate-middle-y ms-3"></i>
        </div>

        <h4 class="mb-4 fw-bold border-bottom pb-2 mt-5 fs-4" style="color: #0F766E
">Location</h4>
        <div class="position-relative mb-3">
          <input
          type="text"
          [(ngModel)]="searchInput"
          placeholder="e.g. Jerusalem"
          class="form-control search-input"
          (keyup.up)="applySearch()"
        />
        <i class="bi bi-geo-alt position-absolute top-50 pe-3 end-0 translate-middle-y ms-3"></i>
        </div>
      </aside>

     <!--<div *ngIf="selectedCategory.length > 0 || locationInput || maxInput || minInput">
        <p>
          You selected: {{ selectedCategory.join(', ') }} 
          You selected: {{ locationInput}}
          You selected: {{ maxInput}}
          You selected: {{ minInput}}          
        </p>
      </div>
      <div *ngIf="selectedCategory.length === 0">
        <p>No category selected ❌</p>
      </div>-->   <!--we check if the category is selected or not -->

      <div class="col-md-10">
        <app-cardlist [jobs]="jobs | filterBy: selectedCategory : locationInput : minInput : maxInput"></app-cardlist>
      </div>

    </div>
  </div>
</div>
<app-footer-admin></app-footer-admin>
