<app-navbar-admin></app-navbar-admin>
<div class="container my-5">
  <h2 class="text-center mb-4 text-color-primary fw-bold">Craftsmen Registrations</h2>

  <div class="d-flex justify-content-center mb-4">
    <div class="position-relative w-50">
      <input type="text" class="form-control search-input" placeholder="Search" [(ngModel)]="searchQuery">
      <i class="bi bi-search search-icon"></i>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered bg-white custom-table">
      <thead class="custom-thead">
      <tr class="text-white text-center">
        <th>ID</th>
        <th>Contact Information</th>
        <th>Registration Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody class="text-center">
      <tr *ngFor="let reg of registrations">
      <tr *ngFor="let reg of filteredRegistrations">
        <td>{{ reg.id }}</td>
        <td>{{ reg.contact }}</td>
        <td>{{ reg.date }}</td>
        <td>{{ reg.status }}</td>
        <td>
          <div class="btn-group-responsive">
            <button class="btn btn-sm btn-approve" (click)="approveRegistration(reg.id)">
              <i class="bi bi-check2"></i>
            </button>
            <button class="btn btn-sm btn-reject" (click)="rejectRegistration(reg.id)">
              <i class="bi bi-x"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-footer-admin></app-footer-admin>
