
h2{
  font-family: var(--headings);
}
input{
  font-family: var(--body);
}

.search-input {
  border-radius: 50rem;
  border-width: 3px;
  border-color: rgba(33, 37, 41, 0.25);
  padding-left: 1.5rem;
  padding-right: 3rem;
}
.search-input:focus {
  border-color: var(--secondaryColor) !important;
  box-shadow: 0 0 0 0.25rem #EAF0F0;
  outline: none;
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #212529;
}
.popup-backdrop {
  font-family: var(--body);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}
h3{
  font-family: var(--headings);
}

.popup-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
