h1,h3{
  font-family: var(--headings);
  font-weight: 600;
}

.role-option {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 20px;
  transition: border-color 0.3s ease;
  text-align: center;
}

.role-card img {
  width: 50px;
  height: 50px;
}

.role-card h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.role-card p {
  font-size: 1rem;
  font-family: var(--body);
  color: gray;
}
.role-option {
  cursor: pointer;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 10px;
  padding: 20px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 40px #EAF0F0;
}

.role-option.selected {
  border-color: var(--secondaryColor);
  box-shadow: 0 0 15px var(--secondaryColor);
}

.role-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.role-card h3 {
  margin-top: 10px;
  font-size: 1.75rem;
  font-weight: 600;
}

button {
  width: 15%;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--body);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primaryColor);
  color: white;
}

button:disabled {
  background-color: var(--secondaryColor);
  color: white;
}
@media (max-width: 767px) {
  .role-option {
    padding: 15px;
  }

  .role-card img {
    width: 60px;
    height: 60px;
  }

  .role-card h3 {
    font-size: 1.5rem;
  }
  button {
    padding: 15px;
    font-size: 1.1rem;
  }
}

:host {
  display: block;
  min-height: 100vh; /* يمـلأ ارتفاع الشاشة */
  background-color: whitesmoke;
}


.input-color{
  color: black;
}