.full-height{ height: 100%; }

.dark-right-panel{ background:white; color:black; }

.text-color-p {
   color:var(--primaryColor); 
  }
.text-color-w{ color:#f4f4f4d4; }

/* Button */
.auth-btn {
  width:100%;
  background:#6e33dc;
  color:#fff;
  border:none;
  border-radius:12px;
  padding:0.75rem;
  font-size:1rem;
  font-weight:600;
  transition:background 0.3s ease;
}
.auth-btn:hover           { background:#7f3ff2; }
.auth-btn:disabled        { background:#ab7eff83; }

/* Input */
.input {
  border:none;
  outline:none;
  border-radius:15px;
  padding:1em;
  background:#ccc;
  box-shadow:inset 2px 5px 10px rgba(0,0,0,.3);
  transition:300ms ease-in-out;
}
.input:focus {
  background:#fff;
  transform:scale(1.05);
  box-shadow:4px 4px 25px #9696965a, -4px -4px 25px #ffffff16;
}
