/*.profile-card {
  margin: auto;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #B8A59B;
}
*/
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

small, p {
  font-family: "Manrope", sans-serif;
}
.add{
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: rgb(7, 15, 101);
  background-color: black;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
  color: #ffffff;
  font-family: "manrope", sans-serif;
}
.add:hover{
  letter-spacing: 3px;
  background-color: #6293c8;
  background-color: var(--primaryColor);
  color:white;
  box-shadow:  #6293c8 0px 7px 29px 0px;
  box-shadow:  var(--primaryColor) 0px 7px 29px 0px;
}
.add:active {
  letter-spacing: 3px;
  background-color: #6293c8;/*#6293c8*/
  color: white;
  box-shadow: #6293c8  0px 0px 0px 0px;/*#7b00ff*/
  transform: translateY(10px);
  transition: 100ms;
}
.custom-tabs .nav-link {
  color: black !important;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
}

.custom-tabs .nav-link.active {
  color: #7b00ff !important; 
  color: var(--primaryColor) !important; 
  border-bottom: 2px solid var(--primaryColor);  
}