<app-navbar-admin></app-navbar-admin>

<div class="container my-5">
  <h2 class="text-center mb-4 text-color-primary fw-bold">Manage Users</h2>

  <div class="d-flex justify-content-center mb-4">
    <div class="position-relative w-50">
      <input
        type="text"
        class="form-control search-input"
        placeholder="Search by name or country"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange()"
      />
      <i class="bi bi-search search-icon"></i>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger text-center">
    {{ errorMessage }}
  </div>

  <div class="table-responsive" *ngIf="!loading && !errorMessage && users.length > 0">
    <table class="table table-bordered bg-white custom-table">
      <thead class="custom-thead">
      <tr class="text-white text-center">
        <th>Id</th>
        <th>User Information</th>
        <th>Country</th>
        <th>Created Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody class="text-center">
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td class="text-start d-flex align-items-center gap-2">
           <div class="avatar">{{getAvatar(user.user_name)}}</div>
            <div>
              <div class="fw-bold">{{ user.user_name }}</div>
              <div class="text-muted small">{{ user.email }}</div>
            </div>
          </td>
        <td>{{ user.country }}</td>
        <td>{{ user.created_at | date:'MMMM d, y' }}</td>
        <td>
            <div class="btn-group-responsive">
              <button class="btn btn-sm btn-reject" (click)="deleteUser(user.user_id)">
                <i class="bi bi-trash3-fill"></i>
              </button>
              <button class="btn btn-sm btn-edit" [routerLink]="['/admin/edit-user', user.user_id]">
                <i class="bi bi-pencil-square"></i>
              </button>
            </div>
          </td>
      </tr>

      </tbody>
    </table>
  </div>

  <div *ngIf="!loading && !errorMessage && users.length === 0" class="text-center text-muted">
    No users found.
  </div>
</div>

<app-footer-admin></app-footer-admin>
