<app-navbar-admin></app-navbar-admin>

<div class="container my-5">
  <h1 class="text-center mb-4 text-color-primary fw-bold">Manage Users</h1>

  <div class="d-flex justify-content-center mb-4">
    <div class="position-relative w-50">
      <input
        type="text"
        class="form-control search-input"
        placeholder="Search by name or country"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange()"
      />
      <i class="bi bi-search search-icon"></i>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger text-center">
    {{ errorMessage }}
  </div>

  <div class="table-responsive" *ngIf="!loading && !errorMessage && users.length > 0">
    <table class="table table-bordered bg-white custom-table">
      <thead class="custom-thead">
      <tr class="text-white text-center">
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>Created Date</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody class="text-center">
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.user_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.country }}</td>
        <td>{{ user.created_at | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn btn-sm btn-reject" (click)="deleteUser(user.user_id)">
            <i class="bi bi-trash3-fill"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-sm btn-edit" [routerLink]="['/admin/edit-user', user.user_id]">
            <i class="bi bi-pencil-square"></i>
          </button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

  <div *ngIf="!loading && !errorMessage && users.length === 0" class="text-center text-muted">
    No users found.
  </div>
</div>

<app-footer-admin></app-footer-admin>
