.sidebar {
  transition: transform 0.3s ease-in-out;
}

h2,th{
  font-family: var(--headings);
}
span, label, p, a, button, td, small,select,option, input {
  font-family: var(--body);
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 250px;
    transform: translateX(-100%);
  }

  .sidebar.collapse.show {
    transform: translateX(0);
  }

  .sidebar ~ main {
    margin-left: 0 !important;
  }
}