.login-page {
  min-height: 100vh;
}

.login-btn {
  border: 1px solid var(--primaryColor); 
  
  background-color: transparent;
  color: var(--primaryColor);
  transition: all 0.3s ease;
  border-radius: 12px;
  font-weight: 500;
  padding: 0.75rem;
}


.login-btn:disabled {
  opacity: 0.7; 
  cursor: not-allowed;
}


.login-btn:not(:disabled) {
  background-color: var(--primaryColor); 
  
  color: #ffffff; 
  opacity: 1;
}



.login-page .welcome-title {
  font-weight: 600;
  font-size: 2.7rem;
  font-family: var(--headings);
}

@media (max-width: 767px) {
  .login-page .welcome-title {
    font-size: 1.75rem;
  }
}

.full-height {
  height: 100%;
}

.gradient-bg {
  background: linear-gradient(135deg, var(--primaryColor), #000000);
}
.gradient-bg h2 {
  font-size: 2.5rem; 
  font-weight: 700; 
}

.gradient-bg p {
  font-size: 1.25rem; 
  margin-bottom: 1.5rem; 
}

.gradient-bg .btn {
  padding: 0.75rem 1.5rem; 
  font-size: 1.125rem; 
  border-width: 2px; 
  border-radius: 50px; 
}

.dark-right-panel {
  background-color: whitesmoke; 
  color: black; 
}


.wave-group.has-value .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: var(--primaryColor);
}
.wave-group {
  position: relative;
}

.wave-group .input {
  font-family: var(--body);
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 350px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  font-family: var(--headings);
  color: #1e2221;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: var(--primaryColor);
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 350px;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--primaryColor);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

.forgot-color{
  color: var(--primaryColor);
}

h2{
  font-family: var(--headings);
}

span, label, p, a, button {
  font-family: var(--body);
}
.input-color{
  color:black
}

.google-login-btn {
  background-color: transparent;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  border-radius: 12px;
  font-weight: 500;
  padding: 0.75rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-login-btn:hover {
  background-color: var(--secondaryColor);
  color: #ffffff;
}

.google-login-btn img {
  margin-right: 8px;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 5px;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: #dafff8;
  border-radius: 5px;
}

.container input:checked ~ .checkmark {
  box-shadow: 3px 3px 0px rgb(183, 183, 183);
  transition: all 0.2s;
  opacity: 1;
  background-image: linear-gradient(
    45deg,
    var(--primaryColor) 30%,
    var(--secondaryColor) 100%
  );
}

.container input ~ .checkmark {
  transition: all 0.2s;
  opacity: 1;
  box-shadow: 1px 1px 0px rgb(183, 183, 183);
}

.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
}

.container input:checked ~ .checkmark:after {
  opacity: 1;
  transition: all 0.2s;
}

.container .checkmark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.12em 0.12em 0;
  transform: translate(-50%, -50%) rotate(45deg); 
  opacity: 0;
  transition: all 0.2s;
}

.container {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 0; 
  margin: 0; 
  width: 1.3em; 
  height: 1.3em; 
}

.text-danger{
  font-family: var(--body);
}