html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;

}
body.with-navbar {
  padding-top: 119px;
}
html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex-grow: 1;
}
@keyframes rotateTest {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo-section svg {
  display: block;
  margin: 0 auto;
  animation: rotateTest 4s linear infinite;
  max-width: 100%;
  max-height: 100%;
}
:root{
  --primaryColor:#0F766E;
  --secondaryColor:#4B6F6A;
  --headings: "poppins", sans-serif;
  --body:"manrope", sans-serif;
  --report:#EF4444;
}


