.card{
  transition: all 0.7s;
  background-color: white;
  box-shadow: 10px 10px 60px #edeaea;
}
span,button,p{
  font-family: "Manrope", sans-serif;
}

.accept,.reject,.message{
  transition: all 0.5s;
}
.reject{
  color: #b30a0ac0;
  background-color: white;
  border: #b30a0ac0 1px solid;
}
.reject:hover{
  background-color: #b30a0ac0;
  color: white;
}
.accept{
  border: 1px solid #475451;
  color: #475451;
}
.accept:hover{
  background-color: #475451;
  color: white;
}
.reject:active, .accept:active{
  transform: translateY(4px);
  transition: 100ms;
}
/*.message{
  border: 1px solid #BBABA3;
  color: #BBABA3;
}
.message:hover{
  background-color: #BBABA3;
  color: white;
}*/
.bidname{
  font-family: "poppins", sans-serif;
}