.messaging-container {
  display: flex;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.sidebar {
  width: 300px;
  background: var(--primaryColor);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.search-box {
  margin-bottom: 10px;
}

.user-list {
  flex-grow: 1;
  overflow-y: auto;
}

.user-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.user-item:hover {
  background-color: #eee;
}

.chat-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: white;
}


.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
  background: #fafafa;
}

.my-message {
  text-align: right;
  margin: 5px 0;
  color: white;
  background-color: var(--primaryColor);
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
}

.their-message {
  text-align: left;
  margin: 5px 0;
  color: black;
  background-color: var(--primaryColor);
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  align-items: center;
}

.chat-input input {
  flex-grow: 1;
  margin-right: 10px;
}

.chat-input input {
  flex-grow: 1;
  margin-right: 10px;
  min-width: 0;
}


@media (max-width: 768px) {
  .messaging-container {
    flex-direction: column;
    height: 100vh;
  }

  .sidebar {
    width: 100%;
    height: auto;
    max-height: 40vh;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
  }

  .chat-box {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
  }

  .chat-messages {
    flex-grow: 1;
    overflow-y: auto;
  }

  .chat-input {
    flex-shrink: 0;
  }

}

/* Smooth height on large screens */
.chat-messages {
  height: 100%;
  overflow-y: auto;
}


h2 {
  font-family: var(--headings);
}

input {
  font-family: var(--body);
}

.search-input {
  border-radius: 50rem;
  border-width: 3px;
  border-color: rgba(33, 37, 41, 0.25);
  padding-left: 1.5rem;
  padding-right: 3rem;
}

.search-input:focus {
  border-color: var(--secondaryColor) !important;
  box-shadow: 0 0 0 0.25rem #EAF0F0;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #212529;
}

.bg-primary {
  background-color: var(--primaryColor) !important;
}