.container{
  font-family: var(--body);
}
h5{
  font-family: var(--headings);
  font-weight: 600;
  font-size: 18px;
}
.text-end {
    direction: rtl;
    text-align: right;
  }
  .text-start {
    direction: ltr;
    text-align: left;
  }
  .star-yellow {
    color: #FFD700 !important;
  }
.btn{
  background-color: var(--primaryColor);
}
.btn:hover{
  background-color: var(--secondaryColor);
}
