h2, .custom-thead th {
  font-family: var(--headings);
}

.custom-thead th {
  text-align: center;
  font-size: 15px;
  background-color: #FBFCFD !important;
}
.custom-table td, input{
  font-family: var(--body);
}

.custom-table {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);

}

.custom-table th,
.custom-table td {
  border: none;
  padding: 0.75rem 1rem;
}


.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--secondaryColor);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.search-input {
  border-radius: 50rem;
  border-width: 3px;
  border-color: rgba(33, 37, 41, 0.25);
  padding-left: 1.5rem;
  padding-right: 3rem;
}

.search-input:focus {
  border-color: var(--primaryColor) !important;
  box-shadow: 0 0 0 0.25rem #EAF0F0;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #212529;
}

.btn-reject {
  background-color: #FAEEEE;
  color: #cb0a0a;
}
.btn-edit {
  background-color: #EAF0F0;
  color: var(--primaryColor);
}

.btn-group-responsive {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
